.product{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 2em;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.product-card img{
    max-width: 100%;
    border-radius: 8px;
}

button svg{
    height: 50%;
}

.add-to-cart-empty{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 16%;
    width: 65%;
    position: absolute;
    bottom: -1.5em;
    border-color: #C73B0F;
    border-radius: 30px;
    background-color: white;
    font-size: 0.9em;
}
.add-to-cart-empty:hover{
    background-color: #F0E4E3;
}
.add-to-cart{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    height: 16%;
    width: 65%;
    position: absolute;
    bottom: -1.5em;
    border-color: #C73B0F;
    border-radius: 30px;
    background-color: #C73B0F;
    color: white;
    font-size: 0.9em;
}
.add-to-cart button{
    width: 15%;
    height: 60%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid white;
}
.name-product{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}
.category-product{
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);
}
.price-product{
    color: #C73B0F;
    font-size: large;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .product-card button{
        font-size: 0.7em;
    }
}

@media (max-width: 600px) {
    .add-to-cart-empty{
        width: 46%;
    }
    .add-to-cart{
        width: 46%;
    }
}

@media (max-width: 280px) {
    .productImage{
        width: 100%;
    }
    .add-to-cart-empty{
        width: 70%;
    }
    .add-to-cart{
        width: 70%;
    }
}