@font-face {
    font-family: 'Red Hat Text';
    src: url'/assets/fonts/RedHatText-VariableFont_wght.ttf' format('truetype');
    font-weight: normal,bold,bolder;
    font-style: normal;
}
.app{
    font-family: 'Red Hat Text', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
    padding: 4em;
    background-color: #F9F9F9;
}
.app main{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.desserts-area{
    margin-right: 32px;
}
button{
    cursor: pointer;
}